{% extends 'admin/base.html' %}

{% block title %}
<title>Administradores</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Admins</li>
        </ol>
        <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
            <h2>Nuevo Administrador <i class="fas fa-plus" style="font-size: 16px; margin-bottom: 4px;"></i></h2>
            <div class="card-body">
                <form action="{{ url_for('registerAdmin') }}" method="post" id="admin-register-form">
                    <div id="left_product_form" class="product_form_area">
                        <label for="admin_name" class="col-form-label">Usuario</label>
                        <input type="text" name="admin_name" id="admin_name" required>
                        <label for="password" class="col-form-label">Contraseña</label>
                        <input type="password" name="password" id="password" required>
                        <label for="confirm-password" class="col-form-label">Confirmar Contraseña</label>
                        <input type="password" name="confirm-password" id="confirm-password" required>
                        <label for="admin_email" class="col-form-label">Correo</label>
                        <input type="text" name="admin_email" id="admin_email" required>
                        <br>
                        <input type="submit" value="Crear Cuenta" class="btn btn-primary" >
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
            <h2><i class="fas fa-table mr-1" style="font-size: 25px; margin-bottom: 3px;"></i> Administradores</h2>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if admins|length < 1 %}
                        <h4>No hay Administradores registrados</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for admin in admins %}
                                <tr>
                                    <td>{{ admin.id }}</td>
                                    <td>{{ admin.nombre }}</td>
                                    <td>{{ admin.correo }}</td>
                                    <td class="actions_td">
                                        <a href="{{ url_for('hacer_supervisor', id_usuario=admin.id) }}" class="update_btn_admin"
                                            onclick="return confirm('¿Convertir este administrador en supervisor?')">Hacer Supervisor
                                        </a>
                                        <a href="{{ url_for('eliminarAdmin', id_admin=admin.id) }}" class="delete_btn_admin"
                                            onclick="return confirm('¿Estás seguro de eliminar este administrador?')">Borrar
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% if actionError %}
    <div class="notificacionR">
        <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
    {% if actionOK %}
    <div class="notificacionR okColor">
        <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
</main>
<script src="{{ url_for('static', filename='validaciones.js') }}"></script>
{% endblock %}
