{% extends 'admin/base.html' %}

{% block title %}
<title>Administrar Categorías</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Categorías</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header"><b>Nueva Categoría</b></div>
            <div class="card-body">
                <form action="{{ url_for('adminCategorias') }}" method="post" enctype="multipart/form-data" class="adminForm">
                    <label for="nombre" class="col-form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required>

                    <label for="imagen" class="col-form-label">Imagen</label>
                    <input type="file" name="imagen" id="imagen" accept="image/*" required>
                    
                    <br>
                    <input type="submit" value="Crear Categoría" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">Categorías Registradas</div>
            <div class="card-body">
                {% if categorias|length < 1 %}
                    <h4>No hay Categorías registradas</h4>
                {% else %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria.id }}</td>
                            <td>{{ categoria.nombre }}</td>
                            <td>
                                <img src="{{ url_for('static', filename='uploads/' + categoria.imagen) }}" alt="{{ categoria.nombre }}" width="100">
                            </td>
                            <td>
                                <a href="{{ url_for('eliminarCategoria', id_categoria=categoria.id) }}" class="btn btn-danger">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
