{% extends 'admin/base.html' %}

{% block title %}
<title>Administrar Categorías</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Categorías</li>
        </ol>
        {% if not es_supervisor %}
        <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
            <h2>Nueva Categoría <i class="fas fa-plus" style="font-size: 16px; margin-bottom: 4px;"></i></h2>
            <div class="card-body">
                <form action="{{ url_for('adminCategorias') }}" method="post" enctype="multipart/form-data" class="adminForm">
                    <label for="nombre" class="col-form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required>

                    <label for="imagen" class="col-form-label">Imagen</label>
                    <input type="file" name="imagen" id="imagen" accept="image/*" required>
                    
                    <br>
                    <input type="submit" value="Crear Categoría" class="btn btn-primary">
                </form>
            </div>
        </div>
        {% endif %}
        <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
            <h2><i class="fas fa-table mr-1" style="font-size: 25px; margin-bottom: 3px;"></i> Categorías</h2>
            <div class="card-body">
                <div class="table-responsive">
                {% if categorias|length < 1 %}
                    <h4>No hay Categorías registradas</h4>
                {% else %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            {% if not es_supervisor %}
                            <th>Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td><p style="height: 120px; display: flex; align-items: center; justify-content: center;">{{ categoria.id }}</p></td>
                            <td><p style="height: 120px; display: flex; align-items: center; justify-content: center;">{{ categoria.nombre }}</p></td>
                            <td class="text-center">
                                <img src="{{ url_for('static', filename='uploads/' + categoria.imagen) }}" alt="{{ categoria.nombre }}" style=" height: 120px; margin: none; padding: none; aspect-ratio:6/4; object-fit: cover;">
                            </td>
                            {% if not es_supervisor %}
                            <td class="actions_td" height="140px">
                                <a href="{{ url_for('editarCategoriaView', id_categoria=categoria.id) }}" class="update_btn_admin">Editar</a>
                                <br>
                                <a href="{{ url_for('eliminarCategoria', id_categoria=categoria.id) }}" class="btn btn-danger">Borrar</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if actionError %}
    <div class="notificacionR">
        <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
    {% if actionOK %}
    <div class="notificacionR okColor">
        <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
</main>
{% endblock %}
