{% extends 'admin/base.html' %}

{% block title%}
<title>Update Product</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/productos">Productos</a></li>
            <li class="breadcrumb-item active">Actualizar Producto</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Actualizar Producto</div>
            <div class="card-body">
                <form action="{{ url_for('editarProductoSend', id_producto=producto.id) }}" method="POST" id="product_form" enctype="multipart/form-data">
                    <div id="left_product_form" class="product_form_area">
                        <label for="marca" class="col-form-label">Marca</label>
                        <input type="text" name="marca" id="marca" value="{{ producto.marca }}" required>
                        <label for="modelo" class="col-form-label">Modelo</label>
                        <input type="text" name="modelo" id="modelo" value="{{ producto.modelo }}" required>
                        <label for="stock" class="col-form-label">Cantidad Disponible</label>
                        <input type="number" name="stock" id="stock" min="1" value="{{ producto.stock }}" required>
                        <label for="precio" class="col-form-label">Precio</label>
                        <input type="number" name="precio" id="precio" min="0" value="{{ producto.precio }}" required>
                        <label for="categoria" class="col-form-label">Categoria:</label>
                        <select id="categoria" name="categoria" required>
                            {% if categorias|length < 1 %}
                            <option disabled>No hay categorias</option>
                            {% else %}
                                {% for categoria in categorias %}
                                    {% if categoria.id == producto.id_categoria %}
                                    <option selected>{{categoria.nombre}}</option>
                                    {% else %}
                                    <option>{{categoria.nombre}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="descripcion">Descripcion</label>
                        <textarea type="text" name="descripcion" id="descripcion">{{ producto.descripcion }}</textarea>
                        <div id="checkbox_producto">
                            <label for="recomendado" class="col-form-label">Producto Recomendado (fijar al inicio)</label>
                            {% if producto.recomendado %}
                            <input type="checkbox" name="recomendado" id="recomendado" checked>
                            {% else %}
                            <input type="checkbox" name="recomendado" id="recomendado">
                            {% endif %}
                        </div>
                    </div>

                    <div id="right_product_form" class="product_form_area">
                        <img src="{{ url_for('static', filename='uploads/' + producto.imagen) }}" width="400px" height="400px" alt="{{ producto.modelo }}">
                        <label for="imagen" class="col-form-label imagen_label">Actualizar Imagen:</label>
                        <input type="file" name="imagen" id="imagen" dirname="{{ producto.imagen }}">
                        <br>
                        <input type="submit" value="Actualizar Producto" class="btn btn-primary" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}