{% extends 'admin/base.html' %}

{% block title %}
<title>Inventory Managmnet App</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Productos</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Productos</div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header"><b>Nuevo Producto</b></div>
                    <div class="card-body">
                        <form action="{{ url_for('registrarProductos') }}" method="POST" id="product_form">
                            <div id="left_product_form" class="product_form_area">
                                <label for="marca" class="col-form-label">Marca</label>
                                <input type="text" name="marca" id="marca" required>
                                <label for="modelo" class="col-form-label">Modelo</label>
                                <input type="text" name="modelo" id="modelo" required>
                                <label for="stock" class="col-form-label">Cantidad Disponible</label>
                                <input type="number" name="stock" id="stock" min="1" required>
                                <label for="precio" class="col-form-label">Precio</label>
                                <input type="number" name="precio" id="precio" min="0" required>
                                <label for="categoria" class="col-form-label">Categoria:</label>
                                <select id="categoria" name="categoria" required>
                                    {% if categorias|length < 1 %}
                                    <option disabled>No hay categorias</option>
                                    {% else %}
                                        {% for categoria in categorias %}
                                        <option>{{categoria}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div id="right_product_form" class="product_form_area">
                                <label for="descripcion">Descripcion</label>
                                <textarea type="text" name="descripcion" id="descripcion"></textarea>
                                <div id="checkbox_producto">
                                    <label for="recomendado" class="col-form-label">Producto Recomendado (fijar al inicio)</label>
                                    <input type="checkbox" name="recomendado" id="recomendado">
                                </div>
                                <label for="imagen" class="col-form-label imagen_label">Imagen:</label>
                                <input type="file" name="imagen" id="imagen" required>
                                <br>
                                <input type="submit" value="Añadir Producto" class="btn btn-primary" >
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Inventario de Productos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if productos|length < 1 %} 
                        <h4>No hay productos en el inventario, registre sus productos ahora!</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Imagen</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.id }}</td>
                                    <td>{{ producto.marca }}</td>
                                    <td>{{ producto.modelo }}</td>
                                    <td>{{ producto.imagen }}</td>
                                    <td>{{ producto.precio }}</td>
                                    <td>{{ producto.stock }}</td>
                                    <td class="actions_td">
                                        <a href="" class="delete_btn_admin">Borrar</a>
                                        <br>
                                        <a href="" class="update_btn_admin">Editar</a>  
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    {% if actionError %}
    <div class="notificacionR">
        <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
    {% if actionOK %}
    <div class="notificacionR okColor">
        <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
</main>
{% endblock %}
