<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Ventas</title>
    <style>
        body { font-family: sans-serif; }
        table { width: 100%; border-collapse: collapse; border-radius: 5px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; font-size: 1.4em; }
        th { background-color: #e8faff; }
    </style>
</head>
<header>
    <h1 style="border-bottom: solid 5px rgb(1, 96, 185); font-size: 2.5em;">Franpal Store</h1>
</header>
<body>
    <h2 style="font-size: 1.8em; margin-top: 40px;">Reporte de Ventas</h2>
    <table style="margin-top: -20px;">
        <thead>
            <tr>
                <th style="width: 10%;">ID Venta</th>
                <th>Cliente</th>
                <th style="width: 15%;">Fecha</th>
                <th style="width: 13%;">Hora</th>
                <th>Total</th>
                <th>Método de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.usuario }}</td>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.hora }}</td>
                <td>{{ venta.total }} <b>$US</b></td>
                <td>{{ venta.metodo_de_pago }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="font-size: 1.5em;">Ingresos Totales: {{ total_ingresos }} <b>$US</b></p>
</body>
</html>