<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Productos</title>
    <style>
        body { font-family: sans-serif; }
        table { width: 100%; border-collapse: collapse; border-radius: 5px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; font-size: 1.4em; }
        th { background-color: #e8faff; }
        h3 { font-size: 1.4em;}
    </style>
</head>
<header style="display: flex; align-items: center; justify-content: center; height: 70px;">
    <img src="https://franpaldev.netlify.app/Resources/LogoVectorial.svg" alt="FranpalStore" style="height: 100px; aspect-ratio: 1/1; border-radius: 50px;">
    <h1 style="border-bottom: solid 5px rgb(1, 96, 185); font-size: 3em;">Franpal Store</h1>
</header>
<body>
    <h2 style="font-size: 1.8em; margin-top: 40px;">Reporte de Productos</h2>
    {% if not desde or not hasta %}
    <h3>Todos los productos</h3>
    {% else %}
    <h3>Productos añadidos desde: {{ desde }} Hasta: {{ hasta }}</h3>
    {% endif %}
    <h3>Categorias Mostradas: {{ nombre_categoria }}</h3>
    <p style="font-size: 1.5em;">Productos Totales: </p>
    <table style="margin-top: -20px;">
        <thead>
            <tr>
                <th style="width: 10%;">ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th style="width: 15%;">Precio</th>
                <th style="width: 13%;">Stock</th>
                <th>Fecha de añadido</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.modelo }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.fecha_añadido }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>