<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Ventas</title>
    <style>
        body { font-family: sans-serif; }
        table { width: 100%; border-collapse: collapse; border-radius: 5px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; font-size: 1.4em; }
        th { background-color: #e8faff; }
        h3 { font-size: 1.4em;}
    </style>
</head>
<header style="display: flex; align-items: center; justify-content: center; height: 70px;">
    <img src="https://avatars.githubusercontent.com/u/98850575?v=4" alt="" style="height: 50px; aspect-ratio: 1/1; border-radius: 50px;">
    <h1 style="border-bottom: solid 5px rgb(1, 96, 185); font-size: 3em;">Franpal Store</h1>
</header>
<body>
    <h2 style="font-size: 1.8em; margin-top: 40px;">Reporte de Ventas</h2>
    {% if not desde or not hasta %}
    <h3>Todas las Ventas</h3>
    {% else %}
    <h3>Ventas Realizadas desde: {{ desde }} Hasta: {{ hasta }}</h3>
    {% endif %}
    <table style="margin-top: -20px;">
        <thead>
            <tr>
                <th style="width: 10%;">ID Venta</th>
                <th>Cliente</th>
                <th style="width: 15%;">Fecha</th>
                <th style="width: 13%;">Hora</th>
                <th>Total</th>
                <th>Método de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta[0] }}</td>
                <td>{{ venta[1] }}</td>
                <td>{{ venta[2] }}</td>
                <td>{{ venta[3] }}</td>
                <td>{{ venta[4] }} <b>$USD</b></td>
                <td>{{ venta[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="font-size: 1.5em;">Ingresos Totales: {{ventasTotal}} <b>$USD</b></p>
</body>
</html>