{% extends 'admin/base.html' %}

{% block title %}
<title>Supervisores</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Supervisores</li>
        </ol>
        {% if es_jefe %}
        <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
            <h2>Nuevo Supervisor <i class="fas fa-plus" style="font-size: 16px; margin-bottom: 4px;"></i></h2>
            <div class="card-body">
                <form action="{{ url_for('registerSupervisor') }}" method="post" id="registro-form">
                    <div id="left_product_form" class="product_form_area">
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder="Usuario" required>
                        <p class="advertenciaForm" id="nombreUsuarioError"></p>

                        <label for="email"></label>
                        <input type="email" id="email" name="email" placeholder="Correo" required>
                        <p class="advertenciaForm" id="correoElectronicoError"></p>

                        <label for="password"></label>
                        <input type="password" id="password" name="password" placeholder="Contraseña" required>
                        <p class="advertenciaForm" id="contrasenaError"></p>

                        <label for="confirm-password"></label>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Repita contraseña" required>
                        <p class="advertenciaForm" id="contrasenaRepeatError"></p>
                        <br>
                        <button class="btn btn-primary" id="sendButton" disabled>Crear cuenta</button>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
            <h2><i class="fas fa-table mr-1" style="font-size: 25px; margin-bottom: 3px;"></i> Supervisores</h2>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if supervisores|length < 1 %}
                        <h4>No hay Supervisores registrados</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    {% if es_jefe %}
                                    <th>Acciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for supervisor in supervisores %}
                                <tr>
                                    <td>{{ supervisor.id }}</td>
                                    <td>{{ supervisor.nombre }}</td>
                                    <td>{{ supervisor.correo }}</td>
                                    {% if es_jefe %}
                                    <td class="actions_td">
                                        <a href="{{ url_for('hacer_admin', id_usuario=supervisor.id) }}" class="update_btn_admin"
                                            onclick="return confirm('¿Convertir este supervisor en administrador?')"><i class="fas fa-retweet"></i> Hacer Admin
                                        </a>
                                        <a href="{{ url_for('eliminarSupervisor', id_supervisor=supervisor.id) }}" class="delete_btn_admin"
                                            onclick="return confirm('¿Estás seguro de eliminar este supervisor?')"><i class="fas fa-trash"></i> Borrar
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% if actionError %}
    <div class="notificacionR">
        <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
    {% if actionOK %}
    <div class="notificacionR okColor">
        <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
</main>
<script src="{{ url_for('static', filename='auth.js') }}"></script>
{% endblock %}
