{% extends 'admin/base.html' %}

{% block title %}
<title>Inventory Managmnet App</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Ventas</li>
        </ol>
        <div class="card mb-4">
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Ventas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Id Usuario</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Total</th>
                                    <th>Método de Pago</th>
                                    <th>Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venta in ventas %}
                                <tr>
                                    <td>{{ venta.id }}</td>
                                    <td>{{ venta.id_usuario }}</td>
                                    <td>{{ venta.fecha }}</td>
                                    <td>{{ venta.hora }}</td>
                                    <td>US$ {{ venta.total }}</td>
                                    <td>{{ venta.metodo_de_pago }}</td>
                                    <td class="actions_td" height="20px">
                                        <a href="{{ url_for('verDetallesVenta', id=venta.id) }}" class="update_btn_admin">Ver Detalles</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="button" value="Exportar a PDF">Exportar a PDF</button>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
