{% extends 'admin/base.html' %}

{% block title %}
<title>Inventory Managmnet App</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Ventas</li>
        </ol>
        <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Ventas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if ventas|length < 1 %}
                        <h4>No se han registrado ventas, espere a que los clientes realicen compras</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Cliente</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Total</th>
                                    <th>Método de Pago</th>
                                    <th>Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venta in ventas %}
                                <tr>
                                    <td>{{ venta.id }}</td>
                                    <td>{{ venta.usuario }}</td>
                                    <td>{{ venta.fecha }}</td>
                                    <td>{{ venta.hora }}</td>
                                    <td>US$ {{ venta.total }}</td>
                                    <td>{{ venta.metodo_de_pago }}</td>
                                    <td class="actions_td" height="20px">
                                        <a href="{{ url_for('verDetallesVenta', id=venta.id) }}" class="update_btn_admin">Ver Detalles</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                    {% if ventas|length > 0 %}
                    <br>    
                    <div class="card mb-4" style="padding: 20px; box-sizing: border-box;">
                        <h2>Reportes</h2>
                        <form action="{{ url_for('exportarVentasPDF') }}" method="POST" id="exportar_ventas_form">
                            <div class="topFormPdf">
                                <label for="desdeInput" class="col-form-label">Desde</label>
                                <input type="date" name="desdeInput" id="desdeInput">
                                <br>
                                <label for="hastaInput" class="col-form-label">Hasta</label>
                                <input type="date" name="hastaInput" id="hastaInput">
                                <br>
                                <label for="metodoPagoFilter" class="col-form-label">Método de Pago</label>
                                <select id="metodoPagoFilter" name="metodoPagoFilter" required>
                                    <option>Todos</option>
                                    <option>Paypal</option>
                                    <option>Tarjeta de Crédito</option>
                                </select>
                            </div>
                            <div class="bottomFormPdf">
                                <button class="btn btn-primary" type="submit" value="Exportar a PDF">Exportar a PDF</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
