{% extends 'admin/base.html' %}

{% block title %}
<title>Detalles de venta</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/ventas">Ventas</a></li>
            <li class="breadcrumb-item active">Detalles de la Venta</li>
        </ol>
        <div class="card mb-4">
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Detalles de la Venta
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if detallesVenta|length < 1 %}
                        <h4>No se han registrado ventas, espere a que los clientes realicen compras</h4>
                        {% else %}
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Precio Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elemento in detallesVenta %}
                                <tr>
                                    <td>{{ elemento.producto }}</td>
                                    <td>{{ elemento.cantidad }}</td>
                                    <td>{{ elemento.precio_unitario }}<b> $</b></td>
                                    <td>{{ elemento.precio_unitario * elemento.cantidad }}<b> $</b></td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total: </b>{{ total }}<b> $</b></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
