/* Método First Mobile */

/* Ajustes generales */

@import url(style.css);

/* area descripcion */

#area_descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#btn_regresar{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#btn_regresar a{
    background-color: var(--botonGeneral);
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    color: var(--textInverso);
}

/* tarjetas de producto */

.preview_producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 950px;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    background-color: var(--fondoTarjeta);
    border-radius: var(--radioGeneral);
    box-shadow: var(--sombrasDeCajas);
}

.imagen-descripcion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#imagen_box{
    width: 90%;
    min-width: 300px;
    box-sizing: content-box;
    aspect-ratio: 1/1;
}

.imagen_preview{
    width: 100%;
    box-sizing: content-box;
    aspect-ratio: 1/1;
    align-items: left;
    object-fit: cover;
}

.detalles_preview{
    display: flex;
    justify-content: right;
    align-items: start;
    flex-direction: column;
    width: 90%;
    gap: 13px;
}

.detalles_preview .marca_preview{
    font-weight: 800;
    font-size: 2rem;
}

.detalles_preview .modelo_preview{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 5px 0;
}

.detalles_preview .precio_preview{
    font-weight: 600;
    font-size: 1.6rem;
}

.detalles_preview .precio_preview span{
    margin-top: 5px;
    font-weight: 700;
}

.detalles_preview .stock_preview{
    font-weight: 400;
    font-size: 0.9rem;
    margin: 2px 0;
}

.detalles_preview .cantidad_preview{
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 2px;
}

.acciones_producto_preview{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.add_cart_button_preview{
    border-radius: 10px;
    background-color: var(--botonGeneral);
    margin-top: 15px;
    padding: 5px 10px;
    color: var(--textInverso);
    border: none;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.add_cart_button_preview:hover{
    cursor: pointer;
    box-shadow: var(--sombrasDeCajas);
}

/* Descripcion completa */

#descripcion_article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    max-width: 950px;
    gap: 10px;
    margin-bottom: 20px;
}

#descripcion_article h2{
    width: 100%;
}

/* Cantidad selector */

/* Estilos básicos para el contenedor */
.cantidad-selector{
    display: flex;
    align-items: center;
}

/* Estilos para el input */
.cantidad-selector input{
    width: 50px;
    text-align: center;
    margin: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

/* Estilos para los botones */
.cantidad-selector button{
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Efecto al pasar el mouse sobre los botones */
.cantidad-selector button:hover{
    background-color: #ddd;
}


/* Adaptacion a pantallas mas grandes */

@media (min-width:700px){
    .imagen-descripcion{
        flex-direction: row;
        gap: 100px;
    }

    .preview_producto{
        min-height: 350px;
    }
}


/*              CARRITO DE COMPRAS              */

.area-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenido-carrito{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 1150px;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    background-color: var(--fondoTarjeta);
    border-radius: var(--radioGeneral);
    box-shadow: var(--sombrasDeCajas);
}

.carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    box-sizing: border-box;
}

.compra{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 2px;
    border-bottom: 1px solid #dddddd;
}

.info{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 2px;
}

h2{
    margin-top: 0;
}

.producto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#elemento_del_carrito{
    width: calc(100% - 40px);
    border-bottom: solid 1px #dddddd;
}

#btn_borrar_del_carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: rgb(192, 33, 33);
    border-radius: 10px;
}

.btn_borrar_icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_borrar_icon img{
    width: 80%;
    aspect-ratio: 1/1;
    color: white;
}

.producto-detalles{
    flex-grow: 1;
}

.producto-precio{
    text-align: right;
}

.total {
    font-weight: bold;
    margin-top: 20px;
}

.checkout-button {
    background-color: var(--botonGeneral);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: var(--radioGeneral);
}

.checkout-button:hover {
    background-color: var(--botonHover);
    box-shadow: var(--sombrasDeCajas);
}

.carrito_vacio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
}

.carrito_vacio img{
    min-width: 200px;
    width: 30%;
    max-width: 400px;
    aspect-ratio: 1/1;
}

/* Responsive Carrito */

@media (min-width:700px){
    .carrito{
        flex-direction: row;
    }
    .compra{
        width: 60%;
        padding-right: 20px;
        border-right: 1px solid #dddddd;
        border-bottom: none;
    }

    .error_carrito{
        border-right: none;
    }
    
    .info{
        width: 40%;
        padding-left: 20px;
    }
}