/* ERRORES y Mensajes */

.notificacionR{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(179, 27, 27);
    font-weight: bold;
    font-size: 1.2rem;
    gap: 10px;
    animation: ocultar 3s forwards;
    box-shadow: 2px 2px 10px #cacaca;
    z-index: 3;
}

.notificacionR img{
    width: 80px;
    aspect-ratio: 1/1;
}

.okColor{
    color: rgb(58, 117, 24);
}

/* Animaciones */

@keyframes ocultar {
    0% {
      opacity: 1; /* El elemento es completamente visible al inicio */
    }
    10% {
      opacity: 0.95;
    }
    15% {
      opacity: 0.90;
    }
    20% {
      opacity: 0.85;
    }
    25% {
      opacity: 0.80;
    }
    30% {
      opacity: 0.75;
    }
    35% {
      opacity: 0.70;
    }
    40% {
      opacity: 0.65;
    }
    45% {
      opacity: 0.60;
    }
    50% {
      opacity: 0.55;
    }
    55% {
      opacity: 0.50;
    }
    60% {
      opacity: 0.45;
    }
    65% {
      opacity: 0.40;
    }
    70% {
      opacity: 0.35;
    }
    75% {
      opacity: 0.30;
    }
    80% {
      opacity: 0.25;
    }
    85% {
      opacity: 0.20;
    }
    90% {
      opacity: 0.15;
    }
    93% {
      opacity: 0.10;
    }
    96% {
      opacity: 0.05;
    }
    100% {
      opacity: 0; /* El elemento se vuelve completamente invisible al final */
      display: none; /* Opcional: elimina el elemento del flujo del documento */
    }
  }