
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GriskolStore</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Inicio de Sesión</h2>
        <form>
            <img src="img/img usuario.svg" width="30" height="30">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>
            <img src="img/img contraseña.svg" width="30" height="30">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <a href="#">¿Olvido su contraseña?</a>
                <button class="btn">Iniciar Sesión</button>
                <button class="btn">No tengo cuenta</button>
        </form>
    </div>
    <footer>
        <h3>Todos los derechos reservados - 2025</h3>
</body>
</html>

