<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='authStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
    </header>
    <main class="general_container">
        <div class="login-container">
            <h2>Inicio de Sesión</h2>
            <form action="{{ url_for('loginSolicitud') }}" method="post" id="login-form">
                <img src="{{ url_for('static', filename='img/img usuario.svg') }}" width="30" height="30">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required>

                <img src="{{ url_for('static', filename='img/img contraseña.svg') }}" width="30" height="30">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
                <button class="btn">Iniciar Sesión</button>
                <a class="btn" href="{{ url_for('registrarse') }}">No tengo cuenta</a>
            </form>
        </div>
        {% if passError %}
        <div class="passError">
            <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
            <p>Usuario o Contraseña incorrecta!</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
</body>
</html>

