<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='authStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
    </header>
    <main class="general_container">
        <div class="login-container">
            <h2>Inicio de Sesión</h2>
            <form action="{{ url_for('loginSolicitud') }}" method="post" id="login-form">
                <div class="input-login">
                    <img src="{{ url_for('static', filename='img/img usuario.svg') }}" width="22" height="22">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                </div>
                <div class="input-login">
                    <img src="{{ url_for('static', filename='img/img contraseña.svg') }}" width="22" height="22">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <button class="btn">Iniciar Sesión</button>
                <a class="btn" href="{{ url_for('registrarse') }}">No tengo cuenta</a>
            </form>
        </div>
        {% if actionError %}
        <div class="notificacionR">
            <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
        {% if actionOK %}
        <div class="notificacionR okColor">
            <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
</body>
</html>

