<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detallesStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            <!-- aqui va un IF el usuario está logeado -->
            <!-- <a class="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>        
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="">Cerrar Sesión</a>
            </div> -->
            <!-- aqui va un ELSE -->
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            <!-- aqui va un End if -->
        </div>
    </header>
    <section class="area-carrito">
        <article class="contenido-carrito">
            <div class="carrito">
                <div class="compra">
                    <h2>Carrito de Compras</h2>
                    <div class="producto">
                        <div class="producto-detalles"><br><br>
                            <h2>Lenovo</h2><br>
                            LENOVO IDEAPAD 3 14ITL05 I5 1135G7 8GB 256GB<br>
                        </div>
                        <div class="producto-precio"><br>
                            $250,00
                        </div>
                    </div>
                </div>
                <div class="info">
                    <h2>Información de la compra</h2><br>
                    <div class="subtotal">
                        Subtotal: $250,00
                    </div>
                    <div class="total">
                        Total: $250,00
                    </div>
                    <button class="checkout-button">COMPRAR</button>
                </div>
            </div>
        </article>
    </section>



    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
</body>
</html>