<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detallesStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            {% if sesion == True %}
            <a class="user_btn" href="{{ url_for('index')}}"><img class="user_btn_icon" src="{{ url_for('static', filename='img/shop-svgrepo-com.svg') }}" alt=""></a>        
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('verMisCompras') }}">Mis Compras</a>
                <hr>
                <a href="{{ url_for('cerrarSesionSolicitud') }}">Cerrar Sesión</a>
            </div>
            {% else %}
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        <section class="area-carrito">
            <article class="contenido-carrito">
                <div class="carrito">
                {% if elementos|length > 0 %}
                    <div class="compra">
                        <h2>Carrito de Compras</h2>
                        {% for elemento in elementos %}
                        <div class="producto">
                            <div id="elemento_del_carrito">
                                <div class="producto-detalles"><br><br>
                                    <h2>{{ elemento.marca }}</h2><br>
                                    {{ elemento.marca + " " + elemento.modelo }} <b>X{{ elemento.cantidad }}</b><br>
                                </div>
                                <div class="producto-precio"><br>
                                    <span>US$</span> {{elemento.precio}} c/u
                                </div>
                            </div>
                            <div id="btn_borrar_del_carrito">
                                <a href="{{ url_for('eliminarDelCarrito', index=loop.index0) }}" class="btn_borrar_icon"><img src="{{ url_for('static', filename='img/delete-svgrepo-com.svg') }}" alt=""></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="info">
                        <h2>Información de la compra</h2><br>
                        <div class="subtotal">
                            Subtotal: {{ total }} <span>US$</span>
                        </div>
                        <div class="total">
                            Total: {{ total }} <span>US$</span>
                        </div>
                        <form action="{{ url_for('realizarCompra') }}" method="POST">
                            <label for="metodo_pago">Método de Pago:</label>
                            <select name="metodo_pago" id="metodo_pago" required>
                                <option value="paypal">PayPal</option>
                                <option value="tarjeta de crédito">Tarjeta de Crédito</option>
                            </select>
                            <button type="submit" class="checkout-button">COMPRAR</button>
                        </form>
                    </div>
                {% else %}
                    <div class="compra error_carrito">
                        <div class="carrito_vacio">
                            <h2>Vaya! Aún no has añadido nada al carrito</h2>
                            <img src="{{ url_for('static', filename='img/cart-svgrepo-com.svg') }}" alt="">
                        </div>
                    </div>
                {% endif %}
                </div>
            </article>
            <div id="btn_regresar">
                <a href="{{ url_for('index') }}">Regresar a la tienda</a>
            </div>
        </section>
        {% if actionError %}
        <div class="notificacionR">
            <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
        {% if actionOK %}
        <div class="notificacionR okColor">
            <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
</body>
</html>