<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detallesStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            {% if sesion == True %}
            <a class="user_btn" href="{{ url_for('verCarrito')}}"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>          
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('index') }}">Inicio</a>
                <hr>
                <a href="{{ url_for('cerrarSesionSolicitud') }}">Cerrar Sesión</a>
            </div>
            {% else %}
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main class="mainCompras">
        <h2>Historial de Compras</h2>
        {% if compras|length < 1 %}
        <article class="errorLengthZero compras_error_area">
            <p>No has realizado ninguna compra aún</p>
            <img src="{{ url_for('static', filename='img/avatar-thinking-7-svgrepo-com.svg') }}" alt="Joven Pensativo">
        </article>
        {% else %}
        <article id="historial_compras">
            {% for compra in compras %}
            <section class="elementoCompras">
                <p>{{ compra.fecha }}, {{ compra.hora }}</p>
                <div class="elementoComprasBox">
                    <div class="comprasBoxL">
                        {% if compra.metodo_de_pago == 'Paypal' %}
                        <p class="metodoDePagoP"><img src="{{ url_for('static', filename='img/pay-pal-paypal-payments-platform-svgrepo-com.svg') }}" alt="PayPal">{{ compra.metodo_de_pago }}</p>
                        {% else %}
                        <p class="metodoDePagoP"><img src="{{ url_for('static', filename='img/credit-card-svgrepo-com.svg') }}" alt="tarjeta de crédito">{{ compra.metodo_de_pago }}</p>
                        {% endif %}
                    </div>
                    <div class="comprasBoxR">
                        <p><b>$USD</b> {{ compra.total }} </p>
                    </div>
                </div>
                <div class="verDetallesBtnArea">
                    <form action=" {{ url_for('exportarCompraPDF') }}" method="POST">
                        <div class="verDetallesBtn">
                            <input type="hidden" name="id_compra" value="{{ compra.id }}">
                            <button class="verDetallesCompraBtn hoverBugFix" type="submit" value="Exportar a PDF">Descargar Comprobante</button>
                        </div>
                    </form>
                    <div class="verDetallesBtn">
                        <a href="{{ url_for('verDetallesCompra', id=compra.id) }}" class="verDetallesCompraBtn">Ver Detalles</a>
                    </div>
                </div>
            </section>
            {% endfor %}
        </article>
        {% endif %}
        <div id="btn_regresar">
            <a href="{{ url_for('index') }}">Regresar a la tienda</a>
        </div>
        {% if detallesCompra %}
        <article id="floatDetallesCompra">
            <div id="detallesCompraCard">
                <br>
                {% for elemento in detallesCompra %}
                <section class="ddcElemento">
                    <div class="ddcElementoL">
                        <h3>{{elemento.producto}}</h3>
                        <p><b>X</b>{{ elemento.cantidad }}</p>
                    </div>
                    <div class="ddcElementoR">
                        <p><b>$USD</b> {{ elemento.precio_unitario }} <span>C/U</span></p>
                    </div>
                </section>
                {% endfor %}
                <p class="totalDetallesCompra">Total: <b>$USD</b> {{total}}</p>
            </div>
            <a class="cerrarDetallesCompraBtn" href="{{ url_for('verMisCompras') }}">Cerrar</a>
        </article>
        {% endif %}
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
</body>
</html>