<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Franpal Store</h1>
        <div>
        <!-- {% if usuario_logueado %} -->
        <!-- {% else %} -->
            <a id="login_btn" href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
        <!-- {% endif %} -->
        </div>
    </header>
    <main>
        <section id="area_categorias">
            <h2>¿Qué tipo de laptop buscas?</h2>
            <div id="categorias">
                <a class="categoria colorE">
                    <p>Económica</p>
                </a>
                <a class="categoria colorG">
                    <p>Gamer</p>
                </a>
                <a class="categoria colorA">
                    <p>Gama alta</p>
                </a>
            </div>
        </section>
        <section id="area_ofertas">
            <h2>Ofertas</h2>
            {% for producto in productos %}
                {% if producto[5] < 100 %} 
                <div id="scroll_productos">
                    <article class="tarjeta_producto">
                        <img class="imagen_producto" src="lenovo-thinkpad.jpg" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">{{producto[1]}}</p>
                            <p class="modelo">{{producto[2]}}</p>
                            <p class="precio"> <span>US$</span> {{producto[5]}}</p>
                            <div class="acciones_producto">
                                <!--{% if usuario_logueado %}    ADAPTAR BOTON CUANDO ESTÉ LISTO EL CARRITO -->
                                <button class="add_cart_button">Agregar Al Carrito</button>                                    
                                <!-- {% else %} -->
                                <!-- <button class="add_cart_button">Agregar Al Carrito</button>  -->
                                <!-- {% endif %} -->
                            </div>
                        </div>
                    </article>
                </div>
                {% endif %}
            {% endfor %}
        </section>
        <section id="area_productos">
            <h2>Todos Nuestros Productos</h2>
            {% for producto in productos %}
                <div id="all_productos">
                        <article class="tarjeta_producto">
                            <img class="imagen_producto" src="{{ producto[4] }}" alt="Lenovo Thinkpad">
                            <div class="detalles_producto">
                                <p class="marca">{{producto[1]}}</p>
                                <p class="modelo">{{producto[2]}}</p>
                                <p class="precio"> <span>US$</span> {{producto[5]}}</p>
                                <div class="acciones_producto">
                                    <!--{% if usuario_logueado %}    ADAPTAR BOTON CUANDO ESTÉ LISTO EL CARRITO -->
                                    <button class="add_cart_button">Agregar Al Carrito</button>                                    
                                    <!-- {% else %} -->
                                    <!-- <button class="add_cart_button">Agregar Al Carrito</button>  -->
                                    <!-- {% endif %} -->
                                </div>
                            </div>
                        </article>
                </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
</body>
</html>