<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            {% if sesion == True %}
            <a class="user_btn" href="{{ url_for('verCarrito')}}"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>        
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('cerrarSesionSolicitud') }}">Cerrar Sesión</a>
            </div>
            {% else %}
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        <section id="area_banner">
            <img class="imagen-banner" src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Banner">
            <div class="banner-content">
                <h2>¡Bienvenido a Franpal Store!</h2>
                <p>Encuentra las mejores laptops al mejor precio.</p>
                <a class="btn-banner" href="#area_categorias">Ver Ahora</a>
            </div>
        </section>
        <section id="area_categorias">
            <h2>Categorías</h2>
            <div id="categorias">
                {% for categoria in categorias %}
                <a class="categoria">
                    <p>{{ categoria.nombre }}</p>
                    <img src="{{ url_for('static', filename='uploads/' + categoria.imagen) }}" alt="{{ categoria.nombre }}">
                </a>
                {% endfor %}
            </div>
        </section>
        
        <section id="area_ofertas">
            <h2>Ofertas</h2>
            <div id="scroll_productos">
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>


                <!-- Vista Previa antes de imprementar un bucle FOR para los productos -->
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <!--  -->


            </div>
        </section>
        
        <section id="area_productos">
            <h2>Todos Nuestros Productos</h2>
            <div id="all_productos">
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>



                <!-- Vista Previa antes de imprementar un bucle FOR para los productos -->
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <!--  -->




            </div>
        </section>
        {% if actionError %}
        <div class="notificacionR">
            <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
        {% if actionOK %}
        <div class="notificacionR okColor">
            <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
</body>
</html>
