<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            <!-- aqui va un IF el usuario está logeado -->
            <!-- <a class="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>        
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="">Cerrar Sesión</a>
            </div> -->
            <!-- aqui va un ELSE -->
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            <!-- aqui va un End if -->
        </div>
    </header>
    <main>
        <section id="area_banner">
            <img class="imagen-banner" src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Banner">
            <div class="banner-content">
                <h2>¡Bienvenido a Franpal Store!</h2>
                <p>Encuentra las mejores laptops al mejor precio.</p>
                <button class="btn-banner">Ver Ahora</button>
            </div>
        </section>
        <section id="area_categorias">
            <h2>¿Qué tipo de laptop buscas?</h2>
            <div id="categorias">
                <a class="categoria colorE">
                    <p>Económica</p>
                </a>
                <a class="categoria colorG">
                    <p>Gamer</p>
                </a>
                <a class="categoria colorA">
                    <p>Gama alta</p>
                </a>
            </div>
        </section>
        <section id="area_ofertas">
            <h2>Ofertas</h2>
            <div id="scroll_productos">
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>


                <!-- Vista Previa antes de imprementar un bucle FOR para los productos -->
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <!--  -->


            </div>
        </section>
        
        <section id="area_productos">
            <h2>Todos Nuestros Productos</h2>
            <div id="all_productos">
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>



                <!-- Vista Previa antes de imprementar un bucle FOR para los productos -->
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tarjeta_producto">
                    <a class="tarjeta_producto_clickeable" href="{{ url_for('verProducto') }}">
                        <img class="imagen_producto" src="{{ url_for('static', filename='img/productos/lenovo-thinkpad.jpg') }}" alt="Lenovo Thinkpad">
                        <div class="detalles_producto">
                            <p class="marca">Lenovo</p>
                            <p class="modelo">Thinkpad</p>
                            <p class="precio"> <span>US$</span> 250</p>
                            <div class="acciones_producto">
                                <button class="add_cart_button">Agregar Al Carrito</button>
                            </div>
                        </div>
                    </a>
                </article>
                <!--  -->




            </div>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
</body>
</html>
