<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detallesStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            {% if sesion == True %}
            <a class="user_btn" href="{{ url_for('verCarrito')}}"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>          
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('index') }}">Inicio</a>
                <hr>
                <a href="{{ url_for('cerrarSesionSolicitud') }}">Cerrar Sesión</a>
            </div>
            {% else %}
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main class="mainCompras">
        <h2>Mi Cuenta</h2>
        <div id="profileCard">
            <img id="userIconBig" src="{{ url_for('static', filename='img/userColor-svgrepo-com.svg') }}" alt="Usuario">
            <div class="profileCardRight">
                <p class="userName">{{ usuario.nombre }}</p>
                <p>{{ usuario.correo }}</p>
            </div>
        </div>
        <a id="mostrarContenidoCuenta">Editar Cuenta o Cambiar Contraseña</a>
        <div id="editarCuentaDiv" class="editarCuentaDiv hint">
            <form action="{{ url_for('editarClienteDataSend', id_cliente=usuario.id) }}" method="post" class="dataAreaForm">
                <div class="cardForm">
                        <h3>Editar datos</h3>
                        <label for="admin_name" class="col-form-label">Usuario</label>
                        <input type="text" name="admin_name" id="admin_name" value="{{ usuario.nombre }}" class="inputMiCuenta">
                        <br>
                        <label for="admin_email" class="col-form-label">Correo</label>
                        <input type="text" name="admin_email" id="admin_email" value="{{ usuario.correo }}" class="inputMiCuenta">
                        <br>
                        <input type="submit" value="Actualizar" class="btnActualizarCuenta" >
                </div>
            </form>
            <br>
            <form action="{{ url_for('editarContraseñaCliente', id_cliente=usuario.id) }}" method="post" class="passAreaForm">
                <div class="cardForm">
                    <h3>Cambiar Contraseña <i class="fas fa-exclamation-triangle"></i></h3>
                    <label for="password" class="col-form-label">Contraseña Actual</label>
                    <input type="password" name="password" id="password" class="inputMiCuenta">
                    <br>
                    <label for="passwordNew" class="col-form-label">Nueva Contraseña</label>
                    <input type="password" name="passwordNew" id="passwordNew" class="inputMiCuenta">
                    <br>
                    <input type="submit" value="Actualizar" class="btnActualizarCuenta" >
                </div>
            </form>
            <br>
            <div class="deleteDangerarea">
                <a href="{{ url_for('eliminarMiCuenta', id_cliente=usuario.id) }}" class="delete_btn_danger"
                onclick="return confirm('¿Estás seguro de que quieres eliminar tu cuenta, este proceso es irreversible')">Borrar mi Cuenta</a>
            </div>
        </div>
        <div id="btn_regresar">
            <a href="{{ url_for('index') }}">Regresar a la tienda</a>
        </div>
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    {% if actionError %}
    <div class="notificacionR">
        <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
    {% if actionOK %}
    <div class="notificacionR okColor">
        <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
        <p>{{ notificacion }}</p>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
    <script src="{{ url_for('static', filename='miCuenta.js') }}"></script>
</body>
</html>