<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detallesStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            {% if sesion == True %}
            <a class="user_btn" href="{{ url_for('verCarrito')}}"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>        
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('verMisCompras') }}">Mis Compras</a>
                <hr>
                <a href="{{ url_for('verMiCuenta') }}">Mi Cuenta</a>
                <hr>
                <a href="{{ url_for('cerrarSesionSolicitud') }}">Cerrar Sesión</a>
            </div>
            {% elif modoAdmin == True %}
            <a class="user_btn" id="user_btn" href="{{ url_for('adminDashboard') }}"><img class="user_btn_icon" src="{{ url_for('static', filename='img/exit-svgrepo-com.svg') }}" alt=""></a> 
            {% else %}
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        <section id="area_descripcion">
            <article class="preview_producto">
                <div class="imagen-descripcion">
                    <div id="imagen_box">
                        <img class="imagen_preview" src="{{ url_for('static', filename='uploads/' + producto.imagen) }}" alt="{{ producto.modelo }}">
                    </div>
                    <div class="detalles_preview">
                        <p class="marca_preview">{{ producto.marca }}</p>
                        <p class="modelo_preview">{{ producto.modelo }}</p>
                        <p class="precio_preview"> <span>USD$</span> {{ producto.precio }} </p>
                        <p class="stock_preview">Quedan {{ producto.stock }} unidades en stock</p>
                        <p class="cantidad_preview">Cantidad</p>
                        <form action="{{ url_for('agregarAlCarritoProducto') }}" method="POST">
                            <div class="cantidad-selector">
                                <button type="button" id="decremento">-</button>
                                <input type="number" id="cantidad" name="cantidad" value="1" min="1" max="{{ producto.stock }}" readonly>
                                <button type="button" id="incremento">+</button>
                            </div>
                            <div class="acciones_producto_preview">
                                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button class="add_cart_button_preview" type="submit">Agregar Al Carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
            <article id="descripcion_article">
                <h2>Descripción del Producto</h2>
                <section id="descripcion_completa">
                    <p>{{ producto.descripcion }}</p>
                </section>
            </article>
            <div id="btn_regresar">
                <a href="{{ url_for('index') }}">Regresar a la tienda</a>
            </div>
        </section>
        {% if actionError %}
        <div class="notificacionR">
            <img src="{{ url_for('static', filename='img/error-round-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
        {% if actionOK %}
        <div class="notificacionR okColor">
            <img src="{{ url_for('static', filename='img/ok-circle-filled-svgrepo-com.svg') }}" alt="Error">
            <p>{{ notificacion }}</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
    <script src="{{ url_for('static', filename='cantidad-selector.js') }}"></script>
</body>
</html>
