<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franpal Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detallesStyle.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Franpal Store</a></h1>
        <div id="contralogo_area">
            <!-- aqui va un IF el usuario está logeado -->
            <!-- <a class="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/cart-large-2-svgrepo-com.svg') }}" alt=""></a>        
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="">Cerrar Sesión</a>
            </div> -->
            <!-- aqui va un ELSE -->
            <a class="user_btn" id="user_btn"><img class="user_btn_icon" src="{{ url_for('static', filename='img/user-svgrepo-com.svg') }}" alt=""></a>
            <div id="float_menu" class="hint">
                <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesión</a>
                <hr>   
                <a href="{{ url_for('registrarse') }}">Registrarse</a>
            </div>
            <!-- aqui va un End if -->
        </div>
    </header>
    <section id="area_descripcion">
        <div id="btn_regresar">
            <a href="{{ url_for('index') }}">Regresar a la tienda</a>
        </div>
        <article class="preview_producto">
            <div class="imagen-descripcion">
                <div id="imagen_box">
                    <img class="imagen_preview" src="{{ url_for('static', filename='img/productos/lenovo-ideapad.jpg') }}" alt="Lenovo ideapad">
                </div>
                <div class="detalles_preview">
                    <p class="marca_preview">Lenovo</p>
                    <p class="modelo_preview">Ideapad 3</p>
                    <p class="precio_preview"> <span>US$</span> 250</p>
                    <p class="cantidad_preview">Cantidad</p>
                    <div class="acciones_producto_preview">
                        <button class="add_cart_button_preview">Agregar Al Carrito</button>
                    </div>
                </div>
            </div>
        </article>
        <article id="descripcion_article">
            <h2>Descripción del Producto</h2>
            <section id="descripcion_completa">
                <p>LENOVO IDEAPAD 3 14ITL05 I5 1135G7 8GB 256GB 81X700FVUS

                    Lenovo IdeaPad 3 14ITL05: Rendimiento Versátil, Almacenamiento Rápido y Diseño Elegante con Intel i5, 8GB RAM y SSD de 256GB
                    
                    Especificaciones Completas:
                    
                    Procesador: Intel Core i5-1135G7 de 11ª generación
                    Memoria RAM: 8GB DDR4
                    Almacenamiento: Unidad de estado sólido (SSD) de 256GB
                    Pantalla: HD de 14 pulgadas (1366 x 768)
                    Gráficos: Intel Iris Xe Graphics
                    Conectividad: Wi-Fi 6 y Bluetooth 5.0
                    Puertos:
                    2x USB 3.2 Gen 1
                    1x USB 2.0
                    1x HDMI
                    1x Lector de tarjetas SD
                    1x Conector de audio de 3,5 mm
                    Batería: Hasta 8 horas de autonomía
                    Cámara web: HD 720p
                    Seguridad: Ranura para bloqueo Kensington
                    Sistema operativo: Windows 11 Home
                    Dimensiones: 35.85 x 23.7 x 1.93 cm
                    Peso: 1.74 kg</p>
            </section>
        </article>
    </section>
    <footer>
        <p>Todos los derechos reservados - 2025</p>
    </footer>
    <script src="{{ url_for('static', filename='menus.js') }}"></script>
</body>
</html>